@import '../../styles/settings';

.header
{
    background: linear-gradient(135deg, $materialLightBlue900 0%, $materialLightBlue500 100%);
    height: $headerHeight;
    min-height: $headerHeight;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 $pageIndent;

    &__logo-wrapper
    {
        font-family: Oswald;
        font-size: 24px;
        letter-spacing: .7px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
