@import '../../styles/settings';

.logo
{
    font-family: $fontFamilyOswald;
    font-size: 24px;
    letter-spacing: .7px;
    text-transform: uppercase;

    &_theme_big
    {
        letter-spacing: 2px;
        font-size: 40px;
    }
}
