$fontFamily: 'PT Sans', Helvetica, Arial, sans-serif;
$fontFamilyOswald: 'Oswald', Helvetica, Arial, sans-serif;

$fontSmall: 12px;
$fontMedium: 15px;
$fontLarge: 21px;
$fontXLarge: 28px;

$headerHeight: 60px;

$colorBlack: #000;
$colorWhite: #fff;
$colorLightGrey: #eee;

$materialIndigo300: #7986CB;
$materialIndigo500: #3F51B5;
$materialIndigo800: #283593;
$materialIndigo900: #1A237E;

$materialBlue300: #64B5F6;
$materialBlue500: #2196F3;
$materialBlue800: #1565C0;
$materialBlue900: #0D47A1;

$materialGreen700: #388E3C;

$materialRed500: #F44336;
$materialRed800: #C62828;
$materialPinkA200: #FF4081;

$globalRadius: 4px;

$pageIndent: 20px;
