$fontFamily: 'Roboto', Helvetica, Arial, sans-serif;
$fontFamilyOswald: 'Oswald', Helvetica, Arial, sans-serif;

$fontSmall: 12px;
$fontMedium: 14px;
$fontLarge: 21px;
$fontXLarge: 28px;

$headerHeight: 60px;

$colorBlack: #000;
$colorWhite: #fff;
$colorLightGrey: #eee;

$materialIndigo300: #7986CB;
$materialIndigo500: #3F51B5;
$materialIndigo800: #283593;
$materialIndigo900: #1A237E;

$materialBlue300: #64B5F6;
$materialBlue500: #2196F3;
$materialBlue800: #1565C0;
$materialBlue900: #0D47A1;


$materialLightBlue50: #E1F5FE;
$materialLightBlue100: #B3E5FC;
$materialLightBlue200: #81D4FA;
$materialLightBlue300: #4FC3F7;
$materialLightBlue400: #29B6F6;
$materialLightBlue500: #03A9F4;
$materialLightBlue600: #039BE5;
$materialLightBlue700: #0288D1;
$materialLightBlue800: #0277BD;
$materialLightBlue900: #01579B;

$materialGreen700: #388E3C;

$materialRed500: #F44336;
$materialRed800: #C62828;
$materialPinkA200: #FF4081;
$materialRedA100: #FF8A80;
$materialRedA200: #FF5252;
$materialRedA400: #FF1744;

$globalRadius: 4px;

$pageIndent: 20px;
