@import '../../../styles/settings';

$cellHeight: 40px;

.bets-table
{
    &__cell
    {
        &_hidden-bet
        {
            background: url('./circle-made-bet.svg') no-repeat;
            background-position: center center;
            background-size: 10px;
        }

        &_fucked-up
        {
            background: url('./circle-fucked-up.svg') no-repeat;
            background-position: center center;
            background-size: 10px;
        }
    }

    &__cell-add-icon
    {
        fill: $materialBlue300;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: fill .2s ease-out;

        &:hover
        {
            fill: $materialRedA400;
            transition: none;
        }
    }

    &__cell
    {
        position: relative;

        &_bet
        {
            padding: 3px 0!important;
        }
        &_status
        {
            &_success
            {
                color: #00C853;
            }

            &_fail
            {
                color: #E57373;

            }
        }

        &_to-promote
        {
            &_home, &_away
            {
                .bets-table__cell-content-bet .link:before
                {
                    position: absolute;
                    content: '';
                    font-size: 10px;
                    width: 10px;
                    height: 10px;
                    background: url(./up.svg) no-repeat center center / cover;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }

            &_home .bets-table__cell-content-bet .link:before
            {
                left: -13px;
            }

            &_away .bets-table__cell-content-bet .link:before
            {
                right: -13px;
            }
        }
    }

    &__cell-content
    {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    &__cell-content-bet, &__cell-content-result
    {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        line-height: $cellHeight / 2 - 4px;
        justify-content: center;
    }

    &__cell-content-bet
    {
        color: transparentize($colorBlack, .6)
    }

    &__cell-content-result
    {
        font-weight: 900;
    }
}
