@import '../../../styles/settings';

$cellHeight: 40px;

.bets-table
{
    &__cell
    {
        &_hidden-bet
        {
            background: url('./ic_done_black_24px.svg') no-repeat;
            background-position: center center;
            background-size: 16px;
        }

        &_fucked-up
        {
            background: url('./ic_clear_black_24px.svg') no-repeat;
            background-position: center center;
            background-size: 16px;
        }
    }

    &__cell-add-icon
    {
        fill: $materialBlue300;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: fill .2s ease-out;

        &:hover
        {
            fill: $materialRedA400;
            transition: none;
        }
    }

    &__cell
    {
        &_bet
        {
            padding: 3px 0!important;
        }
    }

    &__cell-content
    {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    &__cell-content-bet, &__cell-content-result
    {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        line-height: $cellHeight / 2 - 4px;
        justify-content: center;
    }

    &__cell-content-bet
    {
        color: transparentize($colorBlack, .6)
    }

    &__cell-content-result
    {
        font-weight: 900;
    }
}
