@import '../../styles/settings';
@import '../../styles/mixins';

.register
{
    &__form
    {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    &__controls
    {
        margin-top: 30px;
    }

    &__message
    {
        margin-top: 5px;
        position: absolute;
        color: $materialRed500;
        font-size: $fontSmall;
    }
}

