@import '../../styles/settings';
@import '../../styles/mixins';

.room
{
    &__header
    {
    }

    &__title
    {
        margin-top: 30px;
    }

    &__content
    {

    }

    &__code
    {
        margin-left: 20px;
        color: #ccc;
        font-size: 15px;
    }

    .menu
    {

    }
}

