@import '../../styles/settings';

$firstTableWidth: 150px;
$lastTableWidth: 60px;
$headerCellBorderWidth: 5px;
$cellHeight: 40px;
$shadowWidth: 1px;

@mixin hideBadShadow() {
    &:before
    {
        top: -$shadowWidth;
        bottom: -$shadowWidth;
        background: white;
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        z-index: -1;
    }
}

.bets-table
{
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    &__main-table-wrapper
    {
        overflow: auto;
        max-width: 100%;
        flex-grow: 1;
    }

    &__header-table-wrapper
    {
        min-width: $firstTableWidth;
        box-shadow: $shadowWidth 0 $shadowWidth 0 transparentize($colorBlack, .85);
        position: relative;
        z-index: 1;

        @include hideBadShadow();
    }

    &__header-table
    {
        display: table;
        width: $firstTableWidth + $pageIndent;
        white-space: nowrap;
        margin-left: -$pageIndent;

        .bets-table
        {
            &__cell
            {
                max-width: $firstTableWidth;
                width: $firstTableWidth;
                padding: 0 10px 0 $pageIndent - $headerCellBorderWidth;
                position: relative;
                box-sizing: border-box;
                border-left: $headerCellBorderWidth solid transparent;
            }

            &__row
            {
                &_charge
                {
                    .bets-table__cell
                    {
                        border-left-color: #FFEB3B;
                    }
                }
            }
            &__username
            {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &__overall-table-wrapper
    {
        min-width: $lastTableWidth;
        box-shadow: -$shadowWidth 0 $shadowWidth 0 transparentize($colorBlack, .85);
        position: relative;
        z-index: 1;
        margin-right: -$pageIndent;

        @include hideBadShadow();

        .bets-table
        {
            &__cell
            {
                text-align: center;

                &_header
                {
                    min-width: $lastTableWidth;
                }
            }
        }
    }
    &__main-table
    {
        position: relative;
        display: table;
        border-collapse: collapse;

        .bets-table
        {
            &__cell
            {
                display: table-cell;
                padding: 0;
                text-align: center;
                vertical-align: top;
                min-width: 100px;
            }
        }
    }

    &__row
    {
        display: table-row;
        position: relative;
        height: $cellHeight;
        line-height: $cellHeight;

        &_hovered
        {
            background: transparentize($colorBlack, .96);
        }
    }

    &__cell
    {
        display: table-cell;
        padding: 0;
        height: $cellHeight;
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}
