@import '../../styles/settings.scss';

.navigation
{
    padding: 0 28px;

    &__item
    {
        display: inline-block;
        text-decoration: none;
        padding: 16px 32px;
        color: $colorBlack;

        &_logo
        {
            font-size: $fontXLarge;
        }

        &_active
        {
            color: $materialPinkA200;
        }
    }
}
