@import '../../styles/settings';
@import '../../styles/mixins';

.room
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &__header
    {
    }

    &__footer
    {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__title
    {
        margin-top: 30px;
    }

    &__content
    {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__code
    {
        margin-left: 20px;
        color: #ccc;
        font-size: 15px;
    }

    &__leave
    {
    }

    &__rules
    {
        font-size: 12px;
    }

    &__controls
    {
        display: flex;

        .button
        {
            font-size: 12px!important;
            line-height: 24px!important;
        }
    }

    &__add-bot-control
    {
        cursor: pointer;
        margin-right: 20px;
        width: 20px;
        height: 20px;
        background: url(./bot.svg) no-repeat;
        background-size: cover;
        opacity: .5;
        transition: opacity .2s ease-out;

        &:hover
        {
            transition: none;
            opacity: 1;
        }
    }

    &__add-bot-popup, &__add-bot
    {
        max-width: 500px;
    }

    &__add-bot-title
    {
        padding: 10px 0;
        font-size: 18px;
        background: url(./../../images/trollface.png) no-repeat;
        background-position: 80px 5px;
        background-size: 32px;
    }

    &__add-bot
    {
        font-size: 12px!important;
        line-height: 24px!important;
        white-space: normal!important;
    }
}

