@import '../../styles/settings';
@import '../../styles/mixins';

.room-create
{
    &__form-fields
    {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 250px;
        align-items: stretch;
    }

    &__controls
    {
        margin-top: 30px;
    }

    &__message
    {
        margin-top: 5px;
        position: absolute;
        color: $materialRed500;
        font-size: $fontSmall;
    }

    &__points
    {
        margin-top: 50px;
    }
    &__charge
    {
        margin-top: 50px;
    }
    &__charge-currency
    {
        padding-top: 20px;
    }
    &__charge-money
    {
        display: flex;
        align-items: flex-end;
    }

    &__charge-value
    {
        margin-right: 10px;
    }

    &__description, &__charge-description
    {
        width: 600px;
    }
}

