@import '../../styles/settings';

.spin
{
    &_center
    {
        position: absolute!important;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto!important;
    }
}
