@import '../../styles/settings';

.games
{
    counter-reset: rowNumber;
    position: relative;

    &__row, &__head
    {
        display: flex;
    }

    &__head .games__cell
    {
        border-bottom: 1px solid transparentize($colorBlack, .75);
        text-align: center;
        background: $colorWhite;
        position: relative;

        &:first-of-type:before
        {
            background: $colorWhite;
            content: '';
            left: -20px;
            width: 20px;
            margin-top: 5px;
            height: 21px;
            position: absolute;
            border-bottom: 1px solid transparentize($colorBlack, .75);
        }
    }

    &__cell
    {
        white-space: nowrap;
        padding: 5px 20px;

        &:first-of-type
        {
            padding-left: 0;
        }
    }
    &__row
    {
        counter-increment: rowNumber;
        position: relative;

        &:after
        {
            top: 0;
            left: -37px;
            width: 30px;
            margin-top: 5px;
            height: 20px;
            position: absolute;
            text-align: right;
            color: transparentize($colorBlack, .75);
            content: counter(rowNumber)'.';
        }
    }

    &__cell-time
    {
        min-width: 150px;
        color: transparentize($colorBlack, .6);
    }

    &__cell-score
    {
        text-align: center;
        min-width: 90px;
    }

    &__cell-bet
    {
        min-width: 150px;
    }
    &__cell-points
    {
        text-align: center;
        min-width: 70px;
    }

    &__cell-teams
    {
        min-width: 240px;
    }
}
