@import '../../styles/settings';

.games
{
    position: relative;
    margin: 60px (-$pageIndent);

    &__row, &__head
    {
        display: flex;

        .games__cell
        {
            &:first-of-type
            {
                margin-left: $pageIndent;
            }
        }
    }

    &__row
    {
        overflow: hidden;
        transition: all .2s ease-out;
        height: 40px;

        &:hover
        {
            background: transparentize($colorBlack, .96);
        }

        &_hidden
        {
            transform: scaleY(0);
            height: 0;
        }
    }

    &__head
    {
        border-bottom: 1px solid transparentize($colorBlack, .75);

        .games__cell
        {
            text-align: center;
            background: $colorWhite;
            position: relative;
        }
        .games__cell-bet
        {
            white-space: normal;
            line-height: 14px;

            > *
            {
                transform-origin: 22px -7px;
                transform: rotate(-70deg);
                text-align: left;
            }
        }

    }
    &__cell
    {
        white-space: nowrap;
        padding: 5px 5px;
        display: flex;
        align-items: center;

        &:first-of-type
        {
            padding-left: 0;
        }
    }

    &__cell-time
    {
        min-width: 120px;
        color: transparentize($colorBlack, .6);
    }

    &__cell-score
    {
        text-align: center;
        min-width: 90px;
    }

    &__cell-bet
    {
        box-shadow: none;
        min-width: 70px;
        max-width: 70px;
    }
    &__cell-points
    {
        text-align: center;
        min-width: 70px;
    }

    &__cell-teams
    {
        min-width: 320px;
    }

    &__toggle-old-games
    {
        position: absolute;
        z-index: 1;
    }

    &__team
    {
        &_winner
        {
            color: #00C853;
        }
        &_loser
        {
            color: transparentize($colorBlack, .6)
        }
    }
}
