@import '../../styles/settings';
@import '../../styles/mixins';

.game-wrapper
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;

    &__header
    {
        display: flex;
    }

    &__content
    {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    &__add-room-control
    {
        margin-left: 30px;
        opacity: 0.4;
        transition: all .2s ease-out;

        &:hover
        {
            opacity: 1;
            transform: scale(1.5);
        }
    }

    &__add-room
    {
        position: absolute;
        z-index: 2;
        top: 0;
        display: flex;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 0 10px transparentize($colorBlack, 0.8);
        background: $colorWhite;

        align-items: center;
        flex-grow: 1;
        text-align: center;

        width: 300px;

        &_norooms
        {
            margin-top: 30px;

            position: relative;

            width: 100%;
        }

        .input input
        {
            text-align: center;
        }
    }

    &__add-room-close
    {
        background: url(./ic_clear_black_24px.svg) no-repeat;
        background-size: cover;
        position: absolute;
        width: 20px;
        height: 20px;
        cursor: pointer;
        right: 5px;
        top: 5px;
        opacity: 0.5;

        &:hover
        {
            opacity: 1;
        }
    }

    &__new-room
    {
        margin-top: 10px;
    }

    &__to-dashboard
    {
        background: url('./view-list.svg') no-repeat;
        background-position: 0 1px;
        background-size: 18px 18px;
        height: 21px;
        width: 18px;
        opacity: .4;
        overflow: hidden;
        color: $colorWhite;
        margin-right: 20px;

        &:hover
        {
            opacity: 1;
        }

        &_active
        {
            opacity: 1;
            border-bottom: 2px solid black;
        }
    }
}

