@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto:300&subset=latin,cyrillic);
@import '../../styles/settings';

body {
    font-family: $fontFamily;
    font-size: $fontMedium;
    font-weight: 300;
    font-smoothing: antialiased;
    margin: 0;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

* {
  box-sizing: border-box;
}

#app
{
    min-height: 100%;
}

#app, .page, .page__content
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
